body {
  font-family: 'Roboto';
  background-color: #f9f9f9;
}

.container {
  height: 500px;
  width: 580px;
  padding: 0;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
